*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px ;
    gap: 10px;
    align-items: center;
}
.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2{
        border: solid  black 1px;
        width: 60%;
        border-radius: 30px;
        padding: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
}
.navbar__s2 input{
    border: none;
    font-size: 16px;
}
.navbar__s2 input:focus{
    outline: none;
    
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.categories{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px;
}
.categories p{
    background-color: #A435F0;
    color: white;
    border-radius: 30px;
    padding: 10px;
}
.categories p:hover{
    background-color:skyblue;
    color: black;
    cursor: pointer;
}
.sale-image img{
    width: 100%;

}
.recommented{
    padding: 10px;
}
.recommented__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}
.course__card{
    width: 250px;
}
.course__card img{
   height: 50%;
   width: 100%;
}
.topics{
    padding: 10px;
}
.topic__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
  flex-wrap: wrap;
}
.topic__container p{
    border: solid gray 2px;
    padding: 10px;
   flex-grow: 1;
   flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 10px;
   gap: 20px;

}
.footer__container{
    background-color: black;
    color: white;
    padding: 20px;
    gap: 10px;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 10px;
}
.footer__two{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}